
@{
    ViewBag.Title = "Error";
}

<h2 style="color:red;">Ocorreu um erro inesperado! Valide o formato do arquivo, o formato do nome das colunas e se o nome da tabela foi inserido. Após tente novamente</h2>