
@{
    ViewBag.Title = "Index";
}

<style>
    .columns{
        width:100%;
    }
</style>

<h2></h2>

@using (Html.BeginForm("Generate", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <div class="form-group">
        <label for="columns" class="control-label">Nome das colunas separado por virgula! (campo opcional)</label>
        @Html.TextBox("columns", "", new { placeholder = "Colunas", @id = "columns", @class = "form-control columns" })
    </div>

    <div class="form-group">
        @Html.TextBox("table", "", new { placeholder = "Nome Da Tabela", @id = "table", @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="file" class="control-label">Arquivo csv usando ; como separador!</label>
        <input id="file" type="file" name="file" accept=".csv, .txt"/>
    </div>

    <div class="form-group">
        <button class="btn btn-success" type="submit">Gerar</button>
    </div>
}

